* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* start header */

.header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    color: var(--main-color);
    font-size: 25px;
    font-weight: bold;
    height: 70px;
    display: flex;
    align-items: center;
}

.header .main-nav {
    display: flex;
}

.header .main-nav>li>a {
    color: black;
    font-size: 18px;
    padding: 0 30px;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    transition: var(--main-transition);
    overflow: hidden;
}

.header .main-nav>li>a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    top: 0;
    left: -100%;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.header .main-nav>li>a:hover::before {
    left: 0;
}

.header .main-nav>li>a:hover {
    background-color: #f2f2f2;
    color: var(--main-color);
}

.header .mega-menu {
    position: absolute;
    left: 0;
    display: flex;
    background-color: white;
    width: 100%;
    padding: 25px;
    gap: 40px;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    opacity: 0;
    top: calc(100% + 50px);
    transition: var(--main-transition);

}

.menu-toggle {
    opacity: 1 !important;
    top: calc(100% + 1px) !important;
    z-index: 100 !important;
}

.header .links {
    min-width: 250px;
    flex: 1;
}

.header .links li a {
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    display: block;
}

.header .links li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.header .links li a i {
    margin-right: 10px;
}